*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.home{
	margin: auto;
}

.navtop{
	width: 100px;
	min-width: 1000px;
	margin: auto;
}

.navtop{
	height: 89px;
	background-color: #ffffff;
	box-shadow: 0px 2px 0px 0px 
		rgba(155, 155, 155, 0.18);
}

.logo{
	height: 89px;
	display: inline-block;
	font-family: HiraginoSansGB-W6;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 89px;
	letter-spacing: 0px;
	color: #333333;
	vertical-align: middle;
}

.navbar{
	display: inline-block;
	height: 89px;
	margin-left: 175px;
	vertical-align: middle;
}

.list li{
	height: 89px;
	float: left;
	list-style: none;
	width: 80px;
    text-align: center;
    line-height: 89px;
    font-family: HiraginoSansGB-W3;
}
.list li:hover{
	background-color: #00a7e1;
	color: #ffffff;
}

.chosed{
	background-color: #00a7e1;
	color: #ffffff;
}

.top{
	min-height: 60px;

}

.survey{
	width: 1000px;
	margin: 30px auto;
}

.h1{
	height: 85.2px;
	line-height: 85.2px;
}

.main_item_left,
.main_item_mid,
.main_item_right{
	display: inline-block;
	vertical-align: top;
}

.main_item{
	border-bottom: 1px solid #f4f4f4;
    padding: 20px 10px;
}

.main_item:hover{
	background: #fafafa;
}

.main_item_box{
	width: 1000px;
	height: 123px;
	background: #fff;
	border: solid 1px #eaeaea;
	margin: auto;
	padding: 30px 30px 0 30px;
}

.main_item_left{
	width: 382px;
}

.main_item_mid{
	width: 381px;
	height: 270px;
	background-color: #f4f4f4;
	margin-right: 10px;
	margin-left: 36px;
}

.main_item_right{
	width: 715px;
	height: 185px;
}

.main_item_right_item{
	width: 185px;
	height: 130px;
	background-color: #f4f4f4;
	margin-bottom: 10px;
}

.content{
	width: 382px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #666666;
	margin-top: 33px;
	line-height: 25px;
}

.spot{
	color: #00a7e1;
}

.title_style{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #00a7e1;
	color: #fff;
	text-align: center;
	font-family: MicrosoftYaHei;
	font-size: 16px;
}
a{
	color: #000;
}
a:visited{
	color: #000;
}

.bottom{
	height: 586px;
	background: #333;
	color: #fff;
}

.font p{
	width: 994px;
	text-align: center;
	margin: auto;
	margin-top: 25px;

}

.font{
	margin-top: 20px;
    border: 1px solid #333;
}

.notes_item{
	width: 130px;
	height: 98px;

}

.title{
	height: 24px;
	line-height: 24px;
	font-size: 24px;
	color: #00a7e1;
	font-family: HiraginoSansGB-W6;
}

.jianjie{
	width: 745px;
	height: 34px;
	line-height: 17px;
	font-size: 14px;
	margin: 10px 0 0 0;
}

.date{
	color: #bfb0b0;
	font-size: 12px;
}

.ico1,
.ico2{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: contain;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.ico1{
	background-image: url(../../../static/ico/icon_jijie.png);
}

.ico2{
	background-image: url(../../../static/ico/icon_rili2.png);
}

.meitu,
.jinghua,
.shiyong,
.diancang{
	display: inline-block;
	width: 45px;
	height: 45px;
	position: absolute;
}

.main_item_box_top{
	border-bottom: solid 1px #eaeaea;
	display: inline-block;
	vertical-align: top;
}

.main_item_box_content{
	display: inline-block;
	vertical-align: top;
	width: 650px;
	margin-left: 10px;
}

.main_item_box_content span{
	float: right;
	font-family: HiraginoSansGB-W3;
	font-size: 12px;
	margin-right: 10px;
}

.detail{
	padding: 8px 20px;
	width: 118px;
	height: 31px;
	background-color: #00a7e1;
	border-radius: 4px;
	color: #fff;
	outline: none;
	border: 0;
	margin-bottom: 10px;
}

.main_item_box_right{
	vertical-align: top;
	display: inline-block;
	width: 200px;
	text-align: right;
}

.main_item_box_bottom{
	height: 72px;
    margin: auto;
    width: 1060px;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.main_item_box_right p{
	height: 14px;
	font-family: HiraginoSansGB-W3;
	font-size: 14px;
	color: #666;
	line-height: 14px;
	margin-bottom: 10px;
}

ul{
	list-style: none;
}
.detail2{
	float: left;
	width: 265px;
	text-align: center;
	background: #f7f7f7;

}

.detail2 p{
	height: 36px;
	line-height: 36px;
}

.router-link-active{
	color: #00a7e1;
	border-bottom: 2px solid #00a7e1;
}

.link{
	display: inline-block;
	margin-right: 10px;
	padding-bottom: 5px;
}