.top{
	width: 1000px;
	margin: 40px auto;
	padding-bottom: 40px;
	border-bottom: 1px solid #ebebeb;
	background: #fff;
}

.top_left{
	width: 440px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

.top_right{
	width: 512px;
	display: inline-block;
	vertical-align: top;
}

.top_left_img{
	width: 440px;
	height: 260px;
}

.title{
	height: auto;
	font-family: HiraginoSansGB-W3;
	font-size: 22px;
	color: #333;
	line-height: 35px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
}

.main_item_mid{
	width: auto;
	height: auto;
	background-color: #fff;
	margin-right: 10px;
	margin-left: 0;
}

.main_item_mid img{
	width: 700px;
	height: 370px;
}

.main_item_right_item{
	width: auto;
	height: auto;
	background-color: #fff;
	margin-bottom: 10px;
}

.main_item_right img{
	width: 290px;
	height: 178px;
}

.icon{
	display: inline-block;
	width: 20px;
	height: 23px;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.ico1{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: contain;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-image: url(../../../static/ico/icon_jijie.png);
	margin-right: 10px;
}

.icon1{
	background: url(../../../static/ico/icon_chanpin_renzhen.png);
}

.icon2{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../../../static/ico/icon_xianlu_dianhua.png);
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 12px;
}

.phone_number{
	display: inline-block;
	font-family: HiraginoSansGB-W6;
	font-size: 34px;
	color: #333;
	vertical-align: middle;
}

.main{
	width: 1000px;
	margin: auto;
}

.main_title{
	font-family: HiraginoSansGB-W6;
	font-size: 24px;
	border-left: 5px solid #00a7e1;
	padding-left: 20px;
	margin-bottom: 30px;
	margin-top: 40px;
}

.yuan{
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #00a7e1;
	vertical-align: middle;
	margin-left: 25px;
}

.content_title{
	font-family: HiraginoSansGB-W3;
	font-size: 20px;
	margin-left: 15px;
	vertical-align: middle;
	color: #333;
}

.content_text{
	margin-bottom: 15px;
	font-family: HiraginoSansGB-W3;
	font-size: 14px;
	margin-top: 10px;
	color: #333;
}

.content1_img{
	width: 1000px;
	margin: 15px 0 40px 0;
}

.content1_message{
	width: 885px;
	border-left: 2px solid #f5f5f5;
	margin-left: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.content1_title{
	margin-left: -30px;
	font-family: HiraginoSansGB-W3;
	font-size: 20px;
	color: #333;
	margin-top: 25px;

}

.day{
	display: inline-block;
	width: 60px;
	height: 60px;
	background: #00a7e1;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-family: HiraginoSansGB-W6;
	font-size: 20px;
	margin-right: 20px;
}

.content1_icon1{
	background: url(../../../static/ico/icon_xianlu_bashi.png);
	margin-right: 35px;
}

.content1_icon2{
	background: url(../../../static/ico/icon_xianlu_menpiao.png);
	margin-right: 35px;
}

.content1_icon3{
	background: url(../../../static/ico/icon_xianlu_jiudian.png);
	margin-right: 35px;
}

.arrive{
	margin-top: 50px;
	margin-left: -10px;
}

.content1_pic{
	width: 410px;
	display: inline-block;
	margin-left: 15px;
}

.flight_message{
	position: relative;
	margin-left: 50px;
	height: 80px;
	color: #333;
	margin-bottom: 20px;
}

.flight_message span{
	position: absolute;
}

.flight_message_1{
	top: 40%;
}

.flight_message_3,
.flight_message_4{
	left: 188px;
}

.flight_message_6,
.flight_message_7{
	left: 474px;
}

.flight_message_5{
	left: 290px;
	top: 26%;
	display: inline-block;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 5px;
    width: 155px;
    text-align: center;
}

.flight_message_5:before{
	display: block;
	content: '';
	width: 7px;
	height: 7px;
	border: 1px solid #eaeaea;
	border-radius: 50%;
	position: absolute;
	left: -7px;
	top: 86%;
}

.flight_message_5:after{
	display: block;
	content: '';
	width: 7px;
	height: 7px;
	border: 1px solid #eaeaea;
	border-radius: 50%;
	position: absolute;
	left: 155px;
	top: 86%;
}

.flight_message_4,
.flight_message_7{
	top: 60%;
}

.flight_message_3,
.flight_message_6{
	top: 20%;
	font-family: HiraginoSansGB-W6;
	font-size: 20px;
}

.hotel_message{
	margin-left: 50px;
	margin-bottom: 60px;
}
.hotel_img{
	width: 330px;
	height: 240px;
	margin-right: 24px;
}

.hotel_info{
	display: inline-block;
	vertical-align: top;

}

.hotel_name{
	font-family: HiraginoSansGB-W3;
	font-size: 20px;
	margin-bottom: 30px;
	color: #333;
}

.other{
	text-align: center;
	margin: auto;
	padding-top: 40px;
	border-top: 1px solid #eaeaea;
}

.other_box{
	display: flex;
	width: 1010px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	margin-top: 20px;
}

.other_box_item{
	width: 237px;
	border: 1px solid #eaeaea;
	cursor: pointer;
}

.other_box_item img{
	width: 235px;
	height: 150px;
}

.other_box_item span{
	font-size: 16px;
    font-weight: normal;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    margin: 10px 0;
}

.main2{
	margin: auto;
	width: 1000px;
	margin-top: 30px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
}

.main2_left{
	display: inline-block;
	font-family: HiraginoSansGB-W3;
	font-size: 14px;
	margin-top: 20px;
	color: #666;
	margin-bottom: 20px;
}

.main2_left p{
	margin: 10px 0;
}

.main3{
	margin: auto;
	width: 1000px;
	margin-top: 30px;
	font-family: HiraginoSansGB-W3;
	font-size: 14px;
}

.all{
	margin: auto;
}