*{
	margin: 0;
	padding: 0;
}

.home{
	margin: auto;
}

.navtop,
.main{
	width: 100px;
	min-width: 1000px;
	margin: auto;
}

.main{
	margin-bottom: 20px;
}

.navtop{
	height: 89px;
	background-color: #ffffff;
	box-shadow: 0px 2px 0px 0px 
		rgba(155, 155, 155, 0.18);
}

.logo{
	height: 89px;
	display: inline-block;
	font-family: HiraginoSansGB-W6;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 89px;
	letter-spacing: 0px;
	color: #333333;
	vertical-align: middle;
}

.navbar{
	display: inline-block;
	height: 89px;
	margin-left: 175px;
	vertical-align: middle;
}

.list li{
	height: 89px;
	float: left;
	list-style: none;
	width: 80px;
    text-align: center;
    line-height: 89px;
    font-family: HiraginoSansGB-W3;
}
.list li:hover{
	background-color: #00a7e1;
	color: #ffffff;
}

.chosed{
	background-color: #00a7e1;
	color: #ffffff;
}

.item{
	border-bottom: 1px solid #f4f4f4;

}

.item:hover{
	background-color: #fafafa;
}

.survey{
	width: 1000px;
	margin: auto;
}

.h1{
	height: 85.2px;
	line-height: 85.2px;
	display: flex;
	justify-content: space-between;
}

.main_item_left,
.main_item_mid,
.main_item_right{
	display: inline-block;
	vertical-align: top;
}

.main_item{
	border-bottom: 1px solid #f4f4f4;
    padding-bottom: 30px;
    margin-top: 30px;
}

.main_item_left{
	width: 382px;
}

.main_item_mid{
	width: 381px;
	height: 270px;
	background-color: #f4f4f4;
	margin-right: 10px;
	margin-left: 36px;
}

.main_item_right{
	width: 185px;
	height: 270px;
	/*margin-left: -5px;*/
}

.main_item_right_item{
	width: 185px;
	height: 130px;
	background-color: #f4f4f4;
	margin-bottom: 10px;
}

.content{
	width: 382px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #666666;
	margin-top: 33px;
	line-height: 25px;
}

.spot{
	color: #00a7e1;
}

.title{
	height: 25px;
	font-family: HiraginoSansGB-W6;
	font-size: 25px;
}
.title_style{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #00a7e1;
	color: #fff;
	text-align: center;
	font-family: MicrosoftYaHei;
	font-size: 16px;
}
a{
	color: #000;
}
a:visited{
	color: #000;
}

.bottom{
	height: 586px;
	background: #333;
	color: #fff;
}

.font p{
	width: 994px;
	text-align: center;
	margin: auto;
	margin-top: 25px;

}

.font{
	margin-top: 20px;
    border: 1px solid #333;
}

.strategy{
	display: flex;
	justify-content: space-between;
}

.strategy_box:hover{
	background: #fff;
}

.strategy_box img{
	width: 310px;
	height: 170px;
}

.strategy_box p{
	width: 324px;
	height: 18px;
	font-family: HiraginoSansGB-W3;
	font-size: 18px;
	color: #000;
	margin: 15px 0;
}

.strategy_box span{
	width: 310px;
	height: 14px;
	font-family: HiraginoSansGB-W3;
	font-size: 14px;
	line-height: 14px;
	color: #333;
	display: block;
	border-left: 2px solid #00a7e1;
	margin-top: 10px;
	padding-left: 10px;
}

.strategy_box div{
	text-align: center;
	padding-top: 20px;
	border-top: 2px dashed #e4e4e4;
	margin: 10px 0 20px 0;
}

.strategy_box div a{
	height: 14px;
	font-family: HiraginoSansGB-W3;
	font-size: 14px;
	color: #00a7e1;
	text-decoration: none;
}

.scenic_spot{
	width: 1000px;
	height: 423px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.scenic_spot_box{
	width: 319px;
	height: 200px;
	position: relative;
}

.scenic_spot_box img{
	width: 319px;
	height: 200px;
}

.scenic_spot_box p{
	height: 26px;
	font-family: HiraginoSansGB-W6;
	font-size: 26px;
	position: absolute;
	bottom: 20px;
	left: 18px;
	color: #fff;
}

.line{
	width: 1000px;
	height: 372px;
	display: flex;
	justify-content: space-between;
}

.line_box{
	width: 490px;
	height: 372px;
	background-color: #ffffff;
	border: solid 1px #e6e6e6;
}

.line_box p{
	width: 490px;
	height: 60px;
	font-family: HiraginoSansGB-W3;
	font-size: 20px;
	line-height: 60px;
	color: #333;
}

.line_box img{
	width: 490px;
	height: 180px;
}

.line_box span{
	display: inline-block;
	width: 22px;
	height: 31px;
	background-image: url(../../static/ico/icon_xuhao.png);
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	line-height: 24px;
	color: #fff;
	font-family: HiraginoSansGB-W6;
	font-size: 18px;
	text-align: center;
	margin: 0 15px 0 21px;
}